:root {
  color-scheme: light dark;
  --color-accent: oklch(70% 16% 234)
}

body {
    /* Set line height to 1.5 times the font size
        and use the OS’s UI font as the website font
    */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1em;
    accent-color: var(--color-accent)
}

h1 {
  font-size: 200%;
}

h {
  line-height: 1.1;
  text-wrap: balance;
}